<!-- component -->
<div class="max-w-[280px] mx-auto">
  <div class="flex flex-col items-center mt-[10vh]">
    <h2 class="mb-5 text-gray-900 font-mono font-bold text-xl">Sign Up</h2>

    <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
      <input type="text" class="w-full px-6 py-3 mb-1 border border-slate-600 rounded-lg font-medium "
        placeholder="Email" formControlName="email" />
      <span *ngIf="getCtrls['email'].invalid && getCtrls['email'].touched" class="text-red-500">Email is
        invalid</span>
      <input type="password" class="w-full px-6 py-3 mb-1 border border-slate-600 rounded-lg font-medium "
        placeholder="Password" formControlName="password" />
      <span *ngIf="getCtrls['password'].invalid && getCtrls['password'].touched" class="text-red-500">Password
        is required</span>
      <button type="submit" [disabled]="signUpForm.invalid"
        [ngClass]="signUpForm.invalid ? 'bg-slate-300 text-gray-500' : 'bg-slate-500 hover:bg-slate-700 text-white'"
        class="bg-slate-500 hover:bg-slate-700 text-white text-base rounded-lg py-2.5 px-5 transition-colors w-full text-[19px]">Sign
        Up</button>
    </form>
    <p class="text-center mt-3 text-[14px]">Already have an account?
      <a class="text-gray-600" [routerLink]="['/auth/login']">Login</a>
    </p>
  </div>
</div>