<div class="mt-32">
    <div class="px-4 sm:px-8 max-w-5xl m-auto">

        <!-- component -->

        <!-- grid of cards -->
        <div class="flex flex-wrap flex-row space-x-4 justify-center">
            <p-card header="Total minutes">
                <p class="m-0 font-bold">
                    <img src="assets/minute.png" alt="clock" class="w-10 h-10 inline-block mr-2">
                    {{ totalDuration }}
                </p>
            </p-card>

            <p-card header="total calories burned">
                <p class="m-0 font-bold">
                    <img src="assets/calories.png" alt="clock" class="w-10 h-10 inline-block mr-2">
                    {{ totalCalories }}
                </p>
            </p-card>

            <p-card header="total exercises">
                <p class="m-0 font-bold">
                    <img src="assets/fitness.png" alt="clock" class="w-10 h-10 inline-block mr-2">
                    {{ totalExercises }}
                </p>
            </p-card>
        </div>




        <p-dialog [(visible)]=" showExerciseForm">
            <mg-exercise-form (formSubmitted)="sumbmitExercise($event)"
                [exercise]="selectedExercise"></mg-exercise-form>
        </p-dialog>



        <h1 class="text-center mt-3  font-bold text-2xl
        ">Exercises</h1>

        <button (click)="addExercise()"
            class=" bg-blue-500 text-white py-1 px-2 rounded-md hover:bg-blue-600 mb-2">Add</button>

        <mg-exercise-list [exercises]="exercises" (delete)="deleteExercise($event)"
            (edit)="editExercise($event)"></mg-exercise-list>
    </div>
</div>