<div class="mt-32">
    <div class="grid grid-cols-1 gap-4 w-3/4 mx-auto">

        <!-- component -->

        <!-- grid of cards -->
        <div class="grid lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 gap-4">
            <p-card header="Total minutes">
                <p class="m-0 font-bold">
                    <img src="assets/minute.png" alt="clock" class="w-10 h-10 inline-block mr-2">
                    {{ totalDuration }}
                </p>
            </p-card>

            <p-card header="total calories burned">
                <p class="m-0 font-bold">
                    <img src="assets/calories.png" alt="clock" class="w-10 h-10 inline-block mr-2">
                    {{ totalCalories }}
                </p>
            </p-card>

            <p-card header="total exercises">
                <p class="m-0 font-bold">
                    <img src="assets/fitness.png" alt="clock" class="w-10 h-10 inline-block mr-2">
                    {{ totalExercises }}
                </p>
            </p-card>         

        </div>

        <h3 class="text-center mt-4  font-bold text-2xl">My Progress</h3>
        <mg-graphs  class="w-full" 
        [yValues]="yValues" [xValues]="xValues"></mg-graphs>




        <p-dialog [(visible)]=" showExerciseForm">
            <mg-exercise-form (formSubmitted)="submitExercise($event)" [exercise]="selectedExercise"></mg-exercise-form>
        </p-dialog>



        <h1 class="text-center mt-3  font-bold text-2xl
        ">Exercises</h1>

        <button (click)="addExercise()"
            class=" bg-blue-500 text-white py-1 px-2 rounded-md hover:bg-blue-600 mb-2 w-1/4 
            ">Add</button>

        <mg-exercise-list [exercises]="exercises" (delete)="deleteExercise($event)"
            (edit)="editExercise($event)"></mg-exercise-list>
    </div>
</div>